################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BoardVerse.Data/Data/Migrations
/BoardVerse.Data/Migrations

.vs/
**/bin/
**/obj/
BoardVerse.API/appsettings.json
BoardVerse.API/appsettings.Development.json
tools/SeedBoardGames/appsettings.json
BoardVerse.Data/update-all-entities.sql
BoardVerse.API/appsettings.json
.agents/docs/structure-code.md
.agents/docs/project-context.md
BoardVerse.API/appsettings.Development.json
